@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#D9751E,#BF4F26 );
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #bd072883;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #A6382E;
    text-align: center;
    text-shadow: 1px 1px 2px #bd0728b9;
}

h2{
    color: #BF4F26;
}

p {
    text-align: justify;
}